<header>
  <div class="cabecalho__telap">
  <img class="imagemlogo" src="assets/icon/img/logoagro.svg" alt="Logo do app">
</div>
  <h2 class="banner__titulo">Seja Bem Vindo ao AgroFind!</h2>
</header>

<div class="listaopcoes">
  <div class="item">
    <img src="assets/icon/img/plantio.jpg" alt="1">
    <button>Plantação</button>
  </div>
  <div class="item">
    <img src="assets/icon/img/pulverizacao.jpg" alt="2">
    <button>Pulverização</button>
  </div>
  <div class="item">
    <img src="assets/icon/img/colheita.jpg" alt="3">
    <button>Colheita</button>
  </div>
  <div class="item">
    <img src="assets/icon/img/consultoria.jpg" alt="4">
    <button>Consultoria</button>
  </div>
  <div class="item">
    <img src="assets/icon/img/anuncios.jpg" alt="5">
    <button>Meus anúncios</button>
  </div>
</div>

