<div class="scope">
  <header class="cabecalho">
    <img src="assets/icon/img/logoagro.svg" alt="Logo AgroPages">
  </header>
  
  <div class="container">
    <div class="box">
      <form [formGroup]="formularioLogin">
        <div class="formulario__campo">
          <label class="campo__etiqueta" for="email">Login</label>
          <input name="email" id="email" formControlName="email" type="email" class="campo__escrita" required />
          <div id="erro"></div>
        </div>

        <div class="formulario__campo">
          <label class="campo__etiqueta" for="senha">Senha</label>
          <input type="password" placeholder="Senha" formControlName="senha" class="campo__senha" required />
        </div>

        <button type="submit" class="formulario__botao" (click)="entrarLogin()">Entrar</button>
      </form>

      <h2 class="banner__titulo">Não tem cadastro?!</h2>
      <button (click)="cadastrar()">Clique aqui</button>
    </div>
  </div>

  <footer class="rodape">
    <p>
      Para mais informações, acesse o site:
      <a href="https://leticiasfujita.github.io/AgroPages/" target="_blank">
        AgroFind
      </a>
    </p>
  </footer>
</div>
