.container {
  width: 100%;
  max-width: 400px;
  min-height: 100vh; 
  padding: 20px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  color: #000000;
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  overflow-y: auto; 
}
.principal__titulo {
  font-family: Arial, sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 1em; 
}

.campo__etiqueta {
  display: block;
  font-family: Arial, sans-serif;
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-left: 1em;
  margin-bottom: 0.5em; 
}

.campo__escrita {
  border: 2px solid var(--azul);
  background-color: #dddddc;
  border: 1px solid #161515; 
  padding: 1em;
  width: 80%; 
  border-radius: 10px;
  max-width: 400px; 
  box-shadow: 0 0 8px rgba(31, 29, 29, 0.1); 
}

.formulario__campo {
  margin-bottom: 1em; 
}

.formulario{
  overflow: auto;
}

button {
  display: block;
  width: 100%;
  max-width: 200px; 
  margin: 20px auto; 
  padding: 10px 20px;
  background-color: #208f61; 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.formulario__campo input[type="password"] {
  border-radius: 10px;
  background-color: #dddddc;
  padding: 1em;
  width: 90%; 
  max-width: 400px; 
}

@media only screen and (max-width: 768px) {
  .campo__escrita,
  .formulario__campo input[type="password"] {
    width: 100%; 
    max-width: none; 
    margin-left: 0; 
  }
}
